.rounded-table {
  border-radius: 15px;
  overflow: hidden;
}
.cart-product-img-box {
  height: 120px;
  width: 120px;
  overflow: hidden;
}

.cart-product-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 1;
  transition: all 0.3s ease;
}

.cart-product-img:hover {
  transition: all 0.3s ease;
  opacity: 0.8;
}
.cart-product-nam {
  transition: all 0.3s ease;
}
.cart-product-name:hover {
  transition: all 0.3s ease;
  color: green;
}

.table-responsive {
  border-radius: 12px;
  overflow: hidden;
}

.cart-subtotal {
  background-color: #212529;
  border-radius: 1.5rem;
}

.shopping-cart-text {
  font-size: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.cart-item img {
     max-width: 100px;
     height: auto;
 }

 .quantity-input {
     width: 50px;
 }

 .cart-summary {
     background-color: #2c3034 !important;
     color: white !important;
     border-radius: 1rem !important;
 }